backcall
bleach
cycler
decorator
entrypoints
html5lib
ipykernel
ipython
ipython-genutils
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab
jupyterlab-launcher
kiwisolver
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
pyarrow
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn
scipy
seaborn
Send2Trash
simplegeneric
six
sklearn
terminado
testpath
tornado
traitlets
wcwidth
webencodings